@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    color: rgb(55, 65, 81, 1);
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    background-size: cover;
    height: 750px;
}


a {
    text-decoration: none;
}



